.user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.user__ava {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}

.user__ava img {
  width: 100%
}