/* Main */

body {
  background-color: #282c34;
  min-height: 100vh;
  color: #e2e2e2;
}

a {
  position: relative;
  color: #e2e2e2;
  text-decoration: none;
}

a:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  height: 1px;
  background-color: #faf8a1;
  width: 0;
  margin-top: 3px;
  transition: .3s all;
}

a:hover {
  color: #faf8a1!important;
}

a:hover::after {
  width: 100%;
  transition: .3s all;
}

p {
  line-height: 25px;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Layout */

.layout {
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 12fr;
  grid-template-areas: 
  "h"
  "c"
  "f";
  grid-row-gap: 60px;
}

.header {
  grid-area: h;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
}

.content {
  grid-area: c;
  padding-left: 30px;
  padding-right: 30px;
  overflow-x: hidden;
}

.footer {
  grid-area: f;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Grid */

.container {
  width: 315px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Conditions */

.hide {
  display: none;
}